@mixin container {
  @media screen and (max-width: 1023px) {
    width: 80%;
    height: 90%;
  }

  @media screen and (max-width: 767px) {
    width: 80%;
    height: 90%;
  }

  @media screen and (max-width: 567px) {
    width: 80%;
    height: 90%;
  }

  @media screen and (max-width: 425px) {
    width: 80%;
    height: 90%;
  }

  @media screen and (max-width: 375px) {
    width: 80%;
    height: 90%;
  }
}
@mixin mediaNotebook {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin mediaTablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mediaMobileLarge {
  @media screen and (max-width: 567px) {
    @content;
  }
}

@mixin mediaIphone {
  @media screen and (max-width: 375px) {
    @content;
  }
}
