@import "../../styles/mixins";

.slider {
  margin: 0 auto;
  width: 60%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 0.5fr 1fr 1fr;
  gap: 20px;

  @include mediaTablet {
    gap: 18px;
  }

  @include mediaMobileLarge {
    gap: 10px;
  }

  @include mediaIphone {
    gap: 8px;
  }

  &__title {
    color: #f2f4f7;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 83px;
    text-transform: capitalize;
    text-align: center;

    @include mediaNotebook {
      font-size: 60px;
    }

    @include mediaTablet {
      font-size: 50px;
    }

    @include mediaMobileLarge {
      font-size: 35px;
      line-height: 63px;
    }

    @include mediaIphone {
      font-size: 30px;
      line-height: 53px;
    }
  }

  &__subtitle {
    color: #f2f4f7;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    @include mediaNotebook {
      font-size: 15px;
    }

    @include mediaMobileLarge {
      font-size: 12px;
      line-height: 18px;
    }

    @include mediaIphone {
      font-size: 10px;
      line-height: 15px;
    }
  }

  &__button {
    width: 240px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(92.82deg, #fc4060, #8061fd);
    border: 2px solid;
    border-image: linear-gradient(113deg, #fc4060, #8061fd);
    border-image-slice: 1;
    transition: 0.3s ease-in-out;

    &:hover {
      background-clip: unset;
      color: #22282e;
      cursor: pointer;
    }

    @include mediaMobileLarge {
      width: 220px;
    }

    @include mediaIphone {
      width: 200px;
    }
  }

  &__dots {
    &--wrapper {
      display: flex;
      flex-direction: row;
      gap: 30px;
      padding: 0;
    }
    &--active {
      border-color: #ffffff;
    }
    height: 16px;
    width: 16px;
    border: 5px solid rgba(196, 196, 196, 0.16);
    border-radius: 50%;
    list-style: none;
  }
}
